.jumbotron {
    background-color: #301E1A;
    background-image: url("https://github.com/charronda/click-game/blob/master/public/images/header-coffee.jpg?raw=true");
    background-size: cover;
    background-position: bottom;
  }
